<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="jumbotron">
        <h2>{{model.question.content}}</h2>
        <h5>by {{model.question.author}}</h5>
        <h4>{{model.question.notes}}</h4>
        {{update-question question=model.question update="updateToDb" destroyQuestion="destroyQuestion"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 subsection">
      {{new-answer saveAnswer="saveAnswer" question=model.question}}
      <ul>
        {{#each model.question.answers as |answer|}}
          <li class="subsectionBullet">{{answer.content}} - by {{answer.author}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
